.myAutocomplete{
  position: relative;
  .el-input__inner{
    height: 30px;
		// padding: 0 55px 0 8px;
		padding: 0 0px 0 8px;
    border: 1px solid #D9D9D9;
  }
  .myAutocomplete_numTip{
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    color: #999;
  }
}